@import "../../styles/base.scss";

.product-info-container {
  margin-inline: 30px;
  text-align: left;
  .brand-name {
    color: $Orange;
  }
  .product-desc {
    color: $Dark-grayish-blue;
  }
  .product-price {
    display: flex;
    flex-direction: row;
    width: 100%;
    .left {
      display: flex;
      flex-direction: row;
      .discount {
        border-radius: 10px;
        background-color: $Pale-orange;
        text-align: center;
        color: $Orange;
      }
    }
    .right {
    }
  }
}
